<h3>Not here</h3>

<p>
  You probably want one of these
</p>

<p><%= link_to "Collection radio buttons", edit_user_path(@user, form: :a) %></p>
<p><%= link_to "Styled radio buttons", edit_user_path(@user, form: :b) %></p>
