<div class="main">
  <h1>Books and reviews</h1>
  <p>Examples of multiple radio buttons for join tables</p>
</div>

<p><%= link_to "Collection radio buttons - out of the box", edit_user_path(@user) %></p>
<p><%= link_to "Collection radio buttons - adjusted", edit_user_path(@user, form: :a) %></p>
<p><%= link_to "Styled radio buttons", edit_user_path(@user, form: :b) %></p>
