tbody tr:nth-child(odd) {
  background: $lightgrey;
}

th, td {
  font-size: 14px;
  text-align: center;
  padding: 5px 10px;
  word-break: break-word;
}

td.first {
  font-size: 15px;
  font-weight: bold;
  padding-left: 4px;
  text-align: left;
}

.stars {
  .book-score {
    cursor: pointer;
    padding: 2px;

    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .star {
    width: unset;
    font-size: 20px;
    padding: 2px;
    font-family: FontAwesome;
    font-weight: 400;
  }

  .star:before {
    content: "\2606";
  }

  .star.scored:before {
    content: "\2605";
    color: green;
  }

  .star:hover:before, .star:hover ~ span:before {
    content: "\2605";
    color: green;
  }
}

