tbody tr:nth-child(odd) {
  background: $lightgrey;
}

th, td {
  font-size: 14px;
  text-align: center;
  padding: 5px 10px;
  word-break: break-word;
}

td.first {
  font-size: 15px;
  font-weight: bold;
  padding-left: 4px;
  text-align: left;
}

.scores {
  .book-score {
    cursor: pointer;
    padding: 2px;

    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .icon {
    width: unset;
    font-size: 20px;
    padding: 2px;
    font-family: "FontAwesome";
  }

  .icon:before {
    content: "\f097";
    color: grey;
  }

  .icon.scored:before {
    content: "\f02e";
    color: green;
  }

  .icon:hover:before, .icon:hover ~ span:before {
    content: "\f02e";
    color: green;
  }
}

